{% extends 'base.html.twig' %}
{% block body %}
    <h3>La data generata dalla funzione twig è: {{ stampaOra() }} </h3><br>
    <h3>Il numero generato dal servizio è: {{ number }} </h3>
{% endblock %}